[2022-11-24 15:11] EricdeWaal opened #555 "Opening a form from a menu gives error in some cases"
**Before reporting an issue please check that it has not already been fixed by reviewing the changelog in the Wiki or other open issues that may be pending confirmation. Thank you.**

**To Reproduce**
Make (or use an existing) a menu item to open a form. No further settings in the Fabrik Form Options.

**Expected behavior**
Form opens, as it did in Beta 1

**Actual behavior**

Form does not open,

[2022-11-24 15:12] skurvish commented on #539
OK, I know what the problem is and where it is occurring. Having trouble trying to fix it though. Stand by.

[2022-11-24 15:19] gwstyles commented on #554
The following css makes it almost good,makes phone usable at least. If any one has some improvements please post them.

@media
only screen and (max-width: 560px),
(min-device-width: 980px)  and (max-device-width: 1624px)  {

	/* Force table to not be like tables any more */
	table, thead, tbody, th, td, tr {
		display: block;

	}

	/* Hide table headers (but not display: none;, for accessibility)

[2022-11-24 15:32] gwstyles commented on #554
Just found that using an embedded list module performs better then a menu list item.

[2022-11-24 15:58] bumpsadmin opened #556 "Add elements error on calling page"
**To Reproduce**
After update to Beta2 on fresh install Alpha 1 adding new elements produces error

**Expected behavior**
Add elements worked before update to script

**Actual behavior**
From Element menu or any page request the error occurs

**Screenshots**
![image](https://user-images.githubusercontent.com/87337728/203825728-74619b4c-af5b-4d0b-a885-dd26589f1f75.png)

**Additional context**

[2022-11-24 16:23] EricdeWaal commented on #556
That's the same error that I saw (#555)

[2022-11-24 16:28] bumpsadmin commented on #556
Yes but thought as its element based and all the time it could help with diagnosis

[2022-11-24 16:31] EricdeWaal commented on #556
In my case it occured in opening previously working forms. I suspected an element, tried to disable them all, but that was not the cause. I think it's in the form logic somewhere.

[2022-11-24 16:40] dimoss commented on #556
@bumpsadmin I confirm it's happening after upgrading from Beta 1 to Beta 2.

[2022-11-24 16:54] bumpsadmin commented on #556
@dimoss I upgraded from Alpha 3  to Beta 2
It was fine in Alpha 3 as I built many elements with no errors.

[2022-11-24 17:03] joomlahenk commented on #539
@dimoss : What exactly did you enter as the DB table name and List label ?

[2022-11-24 17:05] trob commented on #554
Thanks for sharing.

But as I said this is nothing Fabrik4 specific.
This is what custom CSS or custom Fabrik templates are for.

[2022-11-24 17:06] #554 closed

[2022-11-24 17:10] trob commented on #556
Sorry, that was my fault (missed an if ( while copying the code)
Please disable the birthday element or fix it by replacing
plugins\fabrik_element\birthday\birthday.php line 251 with
**if (** in_array($value, $aNullDates)) ....

[2022-11-24 17:16] EricdeWaal commented on #556
Yes, that did it, thanks!

[2022-11-24 17:16] bumpsadmin commented on #556
Perfect thanks

[2022-11-24 17:56] trob commented on #555
Yup, birthday element. Closing this one.

[2022-11-24 17:56] #555 closed

[2022-11-24 18:25] dimoss commented on #539
Table name: fab_countries
List label: Countries

[2022-11-24 18:40] dimoss commented on #556
Thanks @trob

[2022-11-24 19:08] trob commented on #539
It seems nor @joomlahenk  nor I can replicate.
What are the structure settings of your #_fabrik_lists table?

Is this in a vanilla J!4 or an updated J!3/Fabrik3?

[2022-11-25 05:55] dimoss commented on #539
@trob it's a vanila J!4

[2022-11-25 08:56] joomlahenk commented on #539
@dimoss : The error that you have is not expected to occur if you do an import, but may more likely occur during an export.
I am still unable to replicate.
Is the table fab_countries a new table that does not already exists ?
What are the exact steps you did before you get this error ?

[2022-11-25 08:57] #556 closed

[2022-11-25 09:14] EricdeWaal opened #557 "Deprecates error in birthday statement"
**Before reporting an issue please check that it has not already been fixed by reviewing the changelog in the Wiki or other open issues that may be pending confirmation. Thank you.**

**To Reproduce**

use birthday element in form

**Expected behavior**

Form opens without errors

**Actual behavior**

When the form opens, next error is shown 4 times:

Deprecated: explode(): Passing null to paramet

[2022-11-25 10:39] trob commented on #557
I can't replicate, maybe it's only with special element settings.
Can you try with line 431 changed to
`if ($params->get('empty_is_null', '1') == '0' || (isset($val) && !in_array('', explode('-',$val))) )`

[2022-11-25 10:56] EricdeWaal commented on #557
Yes, I am on Beta 2 and did apply the #540 fix.

Changing line 431 as indicated above makes the error go away, thanks!

Question; unlike the datetime element, the birthday element does not use timezones or anything that could lead to incorrect birthday display in a different time zone, is that correct?

[2022-11-25 11:14] trob commented on #557
Bithday is a "date" column, so I assume it doesn't use timezone (but I don't know exactly, "dates" are also different in different time zones).

[2022-11-25 11:49] EricdeWaal commented on #557
What I try to prevent (not for my testing site, but another one) that persons look a day older or younger when viewed from a different time zone.
Functions like date_default_timezone_set (https://www.php.net/manual/en/function.date-default-timezone-set.php)make me wonder ...
Maybe it's best to use a normal field and then and forget about the day/month year dropdowns.

[2022-11-25 12:57] isidoroi commented on #546
Ok, but will you post here or do we have to wait for a new beta? Thank you in advance

[2022-11-25 13:31] skurvish commented on #546
@isidoroi quick question, at what point did you install the above attached zip file? Before or after trying to install beta2?

[2022-11-25 13:32] skurvish commented on #546
Never mind, I will make additional zip installs for the other plugins which you can install and that should allow you to install beta2. Stand by.

[2022-11-25 13:38] skurvish commented on #546
install these.
[rating.zip](https://github.com/joomlahenk/fabrik/files/10093154/rating.zip)
[thumbs.zip](https://github.com/joomlahenk/fabrik/files/10093161/thumbs.zip)
[subscriptions.zip](https://github.com/joomlahenk/fabrik/files/10093187/subscriptions.zip)
[notification.zip](https://github.com/joomlahenk/fabrik/files/10093188/notification.zip)
[log.zip](https://github.com/joomlahenk/fabrik/file

[2022-11-25 14:19] EricdeWaal opened #558 "date elements default to today despite setting"
**Before reporting an issue please check that it has not already been fixed by reviewing the changelog in the Wiki or other open issues that may be pending confirmation. Thank you.**

**To Reproduce**

use date element in form, set 'Default to current date' and 'Always return today's date' to No.

open form, do not enter a date
or open existing record where date is NULL in the database

**Expected

[2022-11-25 16:20] dimoss commented on #539
@joomlahenk The table is a new table. Doesn't exit in the database.
On the lists I click ib the Import and I try to create the new list
![image](https://user-images.githubusercontent.com/10183465/204024276-aa63fb77-c810-45f3-ba5c-f4ad9347c6c3.png)

[2022-11-25 16:27] trob commented on #558
You mean the old date element? I can replicate.

Not sure what you mean with birthday element. The birthday element has some more issues but I can't see any situation where it's filled with the current date.

[2022-11-25 16:35] EricdeWaal commented on #558
OK, will that be solved?

In my case when an existing record with an empty (NULL) birthday field is opened, it shows the current date. And stores if.

[2022-11-25 16:43] trob commented on #539
Strange. It seems only @skurvish can replicate.
I created a list via Import with your csv without issue
![image](https://user-images.githubusercontent.com/1045355/204027662-696d7338-caeb-4309-937e-61aa5bfcc4ae.png)

Did you set any option beside DB table name and List label?

What did you select as field types?

[2022-11-25 17:02] dimoss commented on #539
@trob DB table name, List label, Field delimiter

[2022-11-25 17:17] trob commented on #539
Which field delimiter? And why? (Your CSV has the standard settings).
Does the error occure already if you click "Continue" or do you get the field type selection list?

[2022-11-25 17:29] dimoss commented on #539
Yes. Field delimiter is by default.
It happens after i get the field type selection list where i select the element types.
I get teh error and it creates a record on the fabrik list table and a record on teh fabrik form table. Nothing in groups, nothing in elements.

[2022-11-25 17:58] ontargetWeb opened #559 "Fabrik placeholders not being rendered in form php plugin"
**Before reporting an issue please check that it has not already been fixed by reviewing the changelog in the Wiki or other open issues that may be pending confirmation. Thank you.**

**To Reproduce**
php plugin form > onDeleteRowsForm
I'm using the rowid placeholder to return the id of the current row:

[code]

**Expected behavior**
I should see **int(4)** 4 being the row id i went to delete.

**

[2022-11-25 18:11] trob commented on #559
Obviously in onDeleteRowForms you can't use element placeholders, but this is the same in Fabrik3.

[2022-11-25 18:16] trob commented on #559
Sorry, it's working in F3 if you use the form Delete button but not on delete in the list. But this is running the same code, so you shouldn't use element placeholder "onDelete"

[2022-11-25 23:10] fstorch commented on #546
In a J3 upgraded to J4 Wamp Installation with no previous Fabrik 4 Alpha or Beta installed (All Fabrik still disabled) got errors to install Beta 2. Then tried above zips. Some still fail.
**comment.zip** fails with
You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'IF NOT EXISTS `notify` TINYINT(1) NOT NULL DEFAUL

[2022-11-25 23:33] trob commented on #558
Date element:
Try date.php line 1117
$isNullDate    = $nullDate == $value || $shortNullDate == $value || empty($value);

Birthday element:
I can't replicate.
What are your exact settings?

[2022-11-26 12:32] skurvish opened #560 "Upgrade: F4 Update Should not Remove the Library"
**Before reporting an issue please check that it has not already been fixed by reviewing the changelog in the Wiki or other open issues that may be pending confirmation. Thank you.**

**What happend**

The preflight manifest alwats removes the library. This was needed when upgrading from F3 to F4 but not needed for F4 to F4 version updates. In fact if installing the component only, once the instal

[2022-11-26 12:32] skurvish commented on #560
I have rewritten this section of the manifest script and am testing now.

[2022-11-26 12:44] skurvish commented on #560
Initially reported in issue #547

[2022-11-26 13:08] skurvish commented on #560
Fixed and tested OK. WIll be in beta2a release later today.

[2022-11-26 13:44] skurvish commented on #507
Fixed. Will be in beta2a

[2022-11-26 13:44] #507 closed

[2022-11-26 13:45] #560 closed

[2022-11-26 13:45] skurvish commented on #546
I will be releasing a beta2a later today which should correct these issues.

[2022-11-26 13:46] skurvish commented on #553
I will be releasing a beta2a later today which should correct these issues.

[2022-11-26 13:46] skurvish commented on #551
I will be releasing a beta2a later today which should correct these issues.

[2022-11-26 13:47] skurvish commented on #547
I will be releasing a beta2a later today which should correct these issues.

[2022-11-26 14:49] skurvish commented on #547
Beta2a is available now.

[2022-11-26 14:49] skurvish commented on #551
Beta2a is available now.

[2022-11-26 14:50] skurvish commented on #553
Beta2a is available now.

[2022-11-26 14:50] skurvish commented on #546
Beta2a is available now.

[2022-11-26 14:51] skurvish commented on #557
Can we close this?

[2022-11-26 15:11] EricdeWaal commented on #557
Yes I have closed it

[2022-11-26 15:11] #557 closed

[2022-11-26 15:21] EricdeWaal commented on #553
I installed beta2a, and the database structure error did not disappear. Also, it is still not possible to correct it from the Maintenance: Database screen.

[2022-11-26 15:29] EricdeWaal commented on #558
I can confirm that this solves the default today in the date element

[2022-11-26 15:31] skurvish commented on #553
It is good the install problem is fixed. Not sure what is going on with the db version problem. The other plugins are showing OK and I see no difference in the xml & sql files to explain it. Will take some further investigation. I am going to open a separate issue for this as it is not causing any failures, just the display.

[2022-11-26 15:31] #553 closed

[2022-11-26 15:32] EricdeWaal commented on #558
I am sorry, it seems to work as expected now! I will close the issue

[2022-11-26 15:32] #558 closed

[2022-11-26 15:32] skurvish opened #561 "Comments Plugin Showing table issue"
Doesn't effect operation but needs to be fixed.
![image](https://user-images.githubusercontent.com/8654397/204096652-87f66301-c1ee-4720-b64c-9e82202b425b.png)

[2022-11-26 15:46] wezetel commented on #551
Beta2a doesn't solve the problem, but you have already seen this and reported as a new issue #561.
So one of both issues should be closed :-)

[2022-11-26 15:48] #551 closed

[2022-11-26 15:56] EricdeWaal opened #562 "Detail form does not close after using Apply button"
**Before reporting an issue please check that it has not already been fixed by reviewing the changelog in the Wiki or other open issues that may be pending confirmation. Thank you.**

**To Reproduce**

Activate "Apply" button on a form, Open it from a list using a link to details (not ajaxified).
Use the Apply button once or more times.
Try to close the form either using Back or Save

**Expected b

[2022-11-26 18:27] skurvish commented on #561
So the problem is with the column create statement. There is no way to check if a column exists and if not then create it, using simple sql statements as are required in the sql file. Therefore I am going to remove this statement and place it in the construct function of the plugin.

[2022-11-26 19:19] skurvish commented on #561
@wezetel can you try this plugin and confirm that the database warning is gone?

I also note that with beta2a additional warnings are showing for the database version for the component and the sequence and Thumbs plugins. This will get fixed on the next release, it was a merge issue.
[comment.zip](https://github.com/joomlahenk/fabrik/files/10096888/comment.zip)

[2022-11-26 19:22] juuser99 opened #563 "Filters are not cleared with "Clear filters" button after using "Search all" field for filtering."
Also "Search all" field is not cleared. Issue exists with ajaxified and not ajaxyfied lists.

[2022-11-26 19:38] skurvish commented on #539
@dimoss can you unzip the attached into the root of your joomla installation and try the import again? I am now able to import successfully with this change. Still no idea how the others got it to work. At any rate, if yours still does not work I may ask you to get me an akeeba backup of your installation so I can troubleshoot it locally.
[import.zip](https://github.com/joomlahenk/fabrik/files/100

[2022-11-26 19:40] juuser99 opened #564 "Calendar does not open when trying to filter list by date in advanced search (jdate)"
1) Open "advanced filter" in list;
2) Select jdate field to be filtered;
3) Try to select date by clicking on calendar icon;
4) Calendar does not open, js error on console:
Uncaught ReferenceError: DateFilter is not defined...

[2022-11-26 19:41] skurvish commented on #529
Updating from git is not supported at this time. Primarily due to the sql tables changing and these changes do not get reflected doing a git update. When and if this is possible we will let everyone know.

[2022-11-26 19:41] #529 closed

[2022-11-26 19:44] juuser99 commented on #564
Sorry, was already reported.

[2022-11-26 19:44] #564 closed

[2022-11-26 19:59] skurvish commented on #533
Eric, can you test the attached please. I have never used it so am unsure if it is doing what it is supposed to. Thanks.
[emailexists.zip](https://github.com/joomlahenk/fabrik/files/10096941/emailexists.zip)

[2022-11-26 20:01] skurvish commented on #527
I have seen this issue before. Don't remember how I solved it but yes, it is missing some javascript.

[2022-11-26 20:08] skurvish commented on #528
I can delete a row using the garbage button in the admin view list data. I do not have the dropdown showing like you do. Is that something configurable?

[2022-11-26 20:31] wezetel commented on #561
First needed to check, where in the file structure I need to extract the zip-file :-)
I found the right place:  plugin->fabrik_forms->comment
And after extracting the file and doing the repair the database warning is gone!
Thanks, so another issue can be closed.

[2022-11-26 20:32] skurvish commented on #561
Great, thanks.

[2022-11-26 20:32] #561 closed

[2022-11-26 20:42] wezetel commented on #561
Just saw: the manifest version is wrong (4.0 beta1).......just a naming....

[2022-11-26 20:53] fstorch commented on #546
Sorry, upgraded J4 still failing in comments:
[code]

[2022-11-26 21:12] fstorch commented on #546
FWIW there is another error:
![grafik](https://user-images.githubusercontent.com/34415681/204109077-1a2752e3-fadf-40d9-8f46-66d33715a179.png)

[2022-11-26 21:42] skurvish commented on #546
can you try this please? https://skurvishenterprises.com/fabrik/downloads/pkg_fabrik_4.0beta2b.zip

[2022-11-26 22:29] davidspring opened #565 "Upgrade: Just upgraded from Joomla 3.10 to Beta2a error"
**Before reporting an issue please check that it has not already been fixed by reviewing the changelog in the Wiki or other open issues that may be pending confirmation. Thank you.**

**What happend**
I downloaded the beta2a. Then turned off the Fabrik component and plugins and updated to Joomla 4.2.5. I then updated the website from PHP 7.4 to 8.1. I then installed beta 2a. I then enabled the fab

[2022-11-26 22:46] trob commented on #565
The rating element is not part of Fabrik4.
Please disable it.

[2022-11-26 23:15] davidspring commented on #565
I could not find an element plugin called rating. I did disable the element plugin called thumbs and also the form plugin called comments. I then went to System, Maintenance and selected the Fabrik Administrator Component and clicked Update Structure. Unfortunately the error remained. Is there someplace I should be looking for the fabrik rating element? I have never used this element and do not ne

[2022-11-26 23:18] trob commented on #528
Yes. List settings/Links/"Render buttons as"

[2022-11-26 23:19] fstorch commented on #546
Different error at install:
[code]
Database:
You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''#__fabrik_ratings WHERE field = 'listid' AND UPPER(type) REGEXP '^INT([(][0-9]+' at line 1

and
![grafik](https://user-images.githubusercontent.com/34415681/204112275-43cca321-e91a-4483-a032-18f7428e1977.png)

[2022-11-26 23:38] fstorch commented on #546
Did a Repair of the Database which got rid of most errors except the ratings.
I actually used that and it deems to be part of the beta.
But after checking back with 100% of my users (aka my wife), she confirmed that she never used it.
So I dropped it and reinstalled beta2b.
Just warnings left:
[code]
Database Maintenance remains at
`You have an error in your SQL syntax; check the manual that corre

[2022-11-26 23:48] trob commented on #528
This is no matter of frontend/backend but of Render buttons as dropdown (in frontend and in backend).
It seems in the row dropdown the delete button doesn't trigger anything.

It's ok for the dropdown in the list header and for delete buttons displayed "inline".

[2022-11-26 23:56] trob commented on #562
Form closes and the list is displayed again

No. Save or Back are going back to" where it comes from". After having used the Apply button this "where it comes from" is the form.
So it doesn't make sense to have Apply and Back enabled at the same time.
With Apply enabled use a redirect plugin to force Save to go back to the list.

This is the same with Fabrik3.

[2022-11-26 23:56] #562 closed

[2022-11-27 00:30] trob commented on #565
In Fabrik3 there's an element rating which adds a table #__fabrik_ratings.
This is not included in Fabrik4 (at least not now).
It seems you had installed it at some point in your Fabrik3.

Check in System/Extensions

[2022-11-27 00:59] davidspring commented on #565
Very strange. I have looked in System Manage Extensions and in System Manage Plugins. I have even gone into the file manager to look for it. But no luck. The name of the test website is ourcommunitynetwork.org. I would be happy to give you admin access. But I am pretty certain that there is no Fabrik plugin called Ratings. But I am willing to keep looking if you can give me more hints as to where

[2022-11-27 01:04] davidspring commented on #565
I also have another nearly identical website that has Fabrik and is still Joomla 3. It does not have a Fabrik extension or plugin called Rating either.

[2022-11-27 03:19] davidspring commented on #565
I have also checked the database for this website and could not find anything there. I understand the error message indicates that the error is near '#__fabrik_ratings WHERE field = 'listid' . But in researching this error, I think the real problem may be this: Table 'ctc10d_db1.v9mv2_fabrik_packages' doesn't exist

[2022-11-27 07:40] trob commented on #565
Ok.
Do you have a table #__fabrik_ratings in your DB?
Do you have a folder plugins\fabrik_element\rating?
Do you have old update SQL files in administrator\components\com_fabrik\sql\updates\mysql?

[2022-11-27 08:54] davidspring commented on #565
Do you have a table #__fabrik_ratings in your DB?
No. There are 16 fabrik tables listed in the database. None of them are named fabrik-ratings. There is a table called fabrik_elements. The fourth column in this table is called plugin which shows the type of plugin used for each element. A careful review of all of these elements confirms that none of them are the rating plugin.

Do you have a folde

[2022-11-27 08:57] dimoss commented on #539
@skurvish the import worked fine with the file you shared. Thank you!

[2022-11-27 09:46] davidspring commented on #565
Making a little progress. I installed the new rating plugin from this issue:
https://github.com/joomlahenk/fabrik/issues/546
This rating plugin is disabled. But it did not solve the problem.
I then install Fabrik 4 version 2b from issue 546.
This new version of Fabrik 4 did fix a problem with the Fabrik Form Comment Plugin - leaving me with only one issue left:
You have an error in your SQL syntax

[2022-11-27 09:58] EricdeWaal commented on #533
Hi Alex, yes this works as in Fabrik 3, thnks!

[2022-11-27 10:10] EricdeWaal commented on #562
Well, jein as you say in German. I have used detail forms mostly with ajaxified links from a list. In that case, also after using Apply one or more times, Save closes the modal form. It still does in F4 as I now found out.

In my test I did not yest use an ajaxifed link. And in that case, Save does not close the detail form. Indeed the same as in F3.
But inconsistent at least.

[2022-11-27 10:32] joomlahenk commented on #565
I have the same issue. The problem here is that although you don't have the ratings plugin installed nor have a ratings table, all *.sql files in updates\mysql of F3 will run in sequence after you upgraded to J!4.
You can try to remove all these *.sql and add an empty 3.10.sql file in F3 updates\mysql BEFORE you do the upgrade to J!4

[2022-11-27 10:36] skurvish commented on #565
@davidspring If you can give us admin access, and ssh access if possible, I can take a look at this for you. You have my contact on discord so yo can private message to me if you like.

[2022-11-27 10:37] skurvish commented on #533
OK, thanks. I will add it to the install package for the next beta.

[2022-11-27 10:37] #533 closed

[2022-11-27 10:51] joomlahenk commented on #565
I see that all F3 sql files in  updates\mysql are still there after upgrade and install of F4. Those should have been deleted as on line 46 in the install script  com_fabrik.manifest.class.php. Only 4.0.sql should be there.
If you remove all 3*.sql files the problem is solved.

[2022-11-27 10:54] skurvish commented on #565
@joomlahenk Your original change in the manifest prefilght only deleted one specific sql update file, it was the one for the component and version 3.6.1 I did not change that. You do have a comment in there that it would probably be a good idea to delete them all, but the code is not there to do so.

[2022-11-27 10:55] #539 closed

[2022-11-27 11:01] joomlahenk commented on #565
Yes all 3*.sql must be removed. Only 4.0.sql must be there. My intention was to remove ALL *.sql before we install F4, but I guess I made a typo here. Sorry, I didn't test very well.

[2022-11-27 11:12] skurvish commented on #565
OK, I will take care of it. @davidspring Let me fix this and I will get you a component zip to install that will remove them all. Some time later today.

[2022-11-27 12:14] skurvish commented on #565
@davidspring upon further investigation there are only about 10 files that need to be deleted and they all exist in administrator/components/con_fabrik/sql/updates/mysql so please manually delete these and try your upgrade again.

We will remove these as part of the install script going forward.

[2022-11-27 12:39] skurvish commented on #565
@davidspring I have a version of the component that will delete these files if you wish to try it. I am attaching it here. I have tested it on one of my systems and it seems to work, but could use a second confirmation. Thanks.
[com_fabrik_4.0beta2b.zip](https://github.com/joomlahenk/fabrik/files/10098324/com_fabrik_4.0beta2b.zip)

[2022-11-27 16:23] davidspring commented on #565
Great news. I ran the new version beta2b.zip and now the database error is gone. In addition, I checked the file manager administrator\components\com_fabrik\sql\updates\mysql folder and the only sql file there was 4.0. I now have a very easy path to update all of my real Fabrik 3 websites to Fabrik 4 and Joomla 4. Thank you so much for your help! I will be working on updating all of my websites to

[2022-11-27 16:43] davidspring commented on #565
Can I assume you will post this new version as beta2c on the wiki page and on the discord channel?

[2022-11-27 18:55] skurvish commented on #565
Sure. Beta2c now available.

[2022-11-27 18:55] #565 closed

[2022-11-27 20:09] skurvish commented on #546
Ratings is not supported. Closing this.

[2022-11-27 20:09] #546 closed

[2022-11-27 20:10] skurvish commented on #547
Should now be fixed.

[2022-11-27 20:10] #547 closed

[2022-11-27 22:09] fstorch opened #566 "Form Comment plugin causing "Call to a member function getTableColumns() on null ""
**To Reproduce**
Every Form that uses the Comment plugin fails
Just updated to pkg_fabrik_4.0beta2c which got rid of all install and database issues (Had to drop ratings though).
So first time I activated F4 extensions and such first post install test.
Installed comments.zip from  #561 but issue remains.
After disabling comments, form loads fine.
Testsite on Wampserver with restored production sit

[2022-11-27 22:37] skurvish commented on #566
Can you unzip this in your joomla root directory and let us know?
[comment.zip](https://github.com/joomlahenk/fabrik/files/10099349/comment.zip)

[2022-11-27 23:53] davidspring opened #567 "Upgrade: Three PHP errors in Fabrik 4 Systems plugins"
**Before reporting an issue please check that it has not already been fixed by reviewing the changelog in the Wiki or other open issues that may be pending confirmation. Thank you.**

**What happend**
After updating the website to Joomla 4 with no problem, I  I downloaded and installed the beta2b version from the bottom of this page:
https://github.com/joomlahenk/fabrik/issues/565
This ended in th

[2022-11-28 00:35] trob commented on #567
Recent Fabrik4 is beta2c, see https://github.com/joomlahenk/fabrik/wiki/Tester-Instructions or https://fabrikar.com/forums/index.php?threads/fabrik-4-0-beta2-now-available-for-download-and-testing.53548/

But anyway
It seems something got wrong with your updates, you don't have the Fabrik4 code in your Fabrik system plugin,
Maybe some folder access issue (e.g. no write access for the new files?)

[2022-11-28 00:35] davidspring opened #568 "Upgrade: Front end PHP error"
**Before reporting an issue please check that it has not already been fixed by reviewing the changelog in the Wiki or other open issues that may be pending confirmation. Thank you.**

**What happend**

After updating the website to Joomla 4 with no problem, I  I downloaded and installed the beta2b version from the bottom of this page:
https://github.com/joomlahenk/fabrik/issues/565
When I turn on

[2022-11-28 00:40] trob commented on #568
See your other issue https://github.com/joomlahenk/fabrik/issues/567
These error messages don't referr to Fabrik4 code.

[2022-11-28 00:58] trob commented on #568
https://github.com/joomlahenk/fabrik/issues/565

Do you mean this one

[com_fabrik_4.0beta2b.zip](https://github.com/joomlahenk/fabrik/files/10098324/com_fabrik_4.0beta2b.zip)

This is only the component, not the package. You need the complete package for the upgrade.

[2022-11-28 01:04] trob commented on #567
You must install the package not only the component.

[2022-11-28 02:11] skurvish commented on #567
@davidspring not sure what you did but none of those code lines exist as described in the current codebase. Please try installing the beta2c version.

[2022-11-28 06:01] davidspring commented on #567
I do not know what I did wrong either. The good news is that whatever it was the beta2c version of Fabrik fixed it. I have now used the Beta2c version of Fabrik to update several sites from Joomla 3 to Joomla 4 and all of them updated without a single error!

[2022-11-28 06:04] davidspring commented on #568
The good news is that the the beta2c package of Fabrik fixed the problem. I have now updated several websites from Fabrik 3 to Fabrik 4 and all of them updated without a single error.

[2022-11-28 07:39] #568 closed

[2022-11-28 07:43] trob commented on #567
@davidspring : You did install **com_**fabrik_4.0beta2b.zip (not **pkg_**fabrik)
Which is only the component, no plugins, no libs. So all your code (beside code in /com_fabrik) was the old F3 code.

[2022-11-28 07:43] #567 closed

[2022-11-28 10:47] skurvish opened #569 "Error on install of Fabrik where no previous Fabrik installation"
**Before reporting an issue please check that it has not already been fixed by reviewing the changelog in the Wiki or other open issues that may be pending confirmation. Thank you.**

**To Reproduce**

Install the current beta2c on a virgin system, i.e. one that had never seen Fabrik before

**Expected behavior**

Fabrik Installs

**Actual behavior**

array_diff() error in the manifest.class.php f

[2022-11-28 11:23] skurvish commented on #569
Fixed.

[2022-11-28 11:23] #569 closed

[2022-11-28 11:29] skurvish commented on #566
Fixed.

[2022-11-28 12:15] skurvish opened #570 "Twitter plugin error"
**Before reporting an issue please check that it has not already been fixed by reviewing the changelog in the Wiki or other open issues that may be pending confirmation. Thank you.**

**To Reproduce**

Have the twitter plugin enabled on php 8, attempt to create a new element

**Expected behavior**

New element dialog opens

**Actual behavior**

Get an error: Declaration of plgFabrik_ElementTwitter

[2022-11-28 13:54] skurvish commented on #570
Hmm, twitter plugin isn't even in the repo, nor is it in the master F3 branch. So I think we can safely ignore this.

[2022-11-28 13:54] #570 closed

[2022-11-28 14:03] wezetel opened #571 "Content plugin parameter"
**Before reporting an issue please check that it has not already been fixed by reviewing the changelog in the Wiki or other open issues that may be pending confirmation. Thank you.**

**To Reproduce**
Call a form from an article and try to pass a parameter to fill a field
eg {fabrik view=form id=6 b_liste___text=2}

**Expected behavior**
Field b_liste___text has the value 2

**Actual behavior**
Fi

[2022-11-28 18:51] skurvish commented on #537
I see the issue, just need to figure out how to solve it.

[2022-11-28 20:24] fstorch commented on #566
Sorry for the delay.
Updated .\plugins\fabrik_form\comment\comment.php
Now getting
                        <span class="badge bg-secondary">1103</span> Incorrect table name ''
                                            <div>

Call stack
--
# | Function | Location
1 | () | JROOT\libraries\vendor\joomla\database\src\Mysqli\MysqliStatement.php:137
2 | mysqli->prepare() | JROOT\libraries\vendor\jooml

[2022-11-28 20:39] skurvish commented on #566
Interesting, I will investigate.

[2022-11-28 21:10] skurvish commented on #566
OK, fixed that problem, but now I am running into something else. Will need some more time to track it down.

[2022-11-28 21:13] fstorch commented on #566
No rush. I'm impressed how many things are working already,

[2022-11-28 21:30] skurvish commented on #566
OK, I think i have it. Can you try this file. I also need you to try actually doing a comment in the form and make sure it works.

[comment.zip](https://github.com/joomlahenk/fabrik/files/10107679/comment.zip)

[2022-11-28 22:37] skurvish commented on #566
Turn off joomla debug. I get this often with debug turned on.

[2022-11-28 22:38] skurvish commented on #566
Re the message box, can you give the the url that is showing at the time?

[2022-11-28 22:46] fstorch commented on #566
turned off debug and backend seems to behave again.

The URL is http://disqus.com/:
![grafik](https://user-images.githubusercontent.com/34415681/204396799-f771e44e-8c9e-4d30-b896-92283fdf6bfb.png)

while comments is set to local commenting:
![grafik](https://user-images.githubusercontent.com/34415681/204396682-cae66942-0f4e-423a-b142-d66e3ce19fdb.png)

[2022-11-28 23:43] skurvish commented on #566
Can you turn of seo so I can see the true url?

[2022-11-29 07:22] trob commented on #566
With [comment.zip](https://github.com/joomlahenk/fabrik/files/10107679/comment.zip)
I get an "unexpexted token" in comments.js coming from
<b>Warning</b>:  Undefined property: stdClass::$default in <b>C:\xampp8\htdocs\j4h40\plugins\fabrik_form\comment\comment.php</b> on line <b>667

[2022-11-29 08:37] fstorch commented on #566
SEO is off
![grafik](https://user-images.githubusercontent.com/34415681/204479804-b1ed125a-6ac7-4ceb-8918-9a92dc129fc4.png)

[2022-11-29 08:47] fstorch commented on #566
But Comments are now working all of a sudden.
At least after I toggled Publish Commment plugin off/on and saving the form.
Adding a comment works as well.
![grafik](https://user-images.githubusercontent.com/34415681/204480561-9e9b7439-9c51-496c-945f-b93f4dc710d7.png)

[2022-11-29 10:30] trob commented on #566
Did you re-save your form or add a new comment plugin?
I'm pretty sure I also have seen this Disqu link instead of the local comment form at some point but wasn't able to replicate.

[2022-11-29 10:37] trob commented on #571
List filtering is working with content plugin 'element' parameter.
Other params like show-title=0 are working, too.
So it seems to be an issue with element default setting not fetching this param.

[2022-11-29 11:51] trob commented on #566
Closing this one. If this Disque link will pop up somewhere we can have a new issue.

[2022-11-29 11:51] #566 closed

[2022-11-29 12:21] fstorch commented on #566
Just went into the form, disabled the existing comment plugin and enabled it again. After that saved the form.

[2022-11-29 13:35] skurvish commented on #537
@wezetel can you unzip the attached into the root of your joomla site and try it please. There is a new parameter on the radio plugin underneath the button group option to allow you to add bootstrap styles to the buttons. There is a link in the tooltip to the bootstrap docs.
[buttongroup.zip](https://github.com/joomlahenk/fabrik/files/10113456/buttongroup.zip)

[2022-11-29 13:52] wezetel commented on #537
@skurvish Thanks a lot, that did it. Issue solved!!

[2022-11-29 13:52] #537 closed

[2022-11-29 20:26] wezetel commented on #571
Does this mean, it is specific for specific element types? I'm using a standard field.

[2022-11-29 21:40] trob commented on #563
Try with [ListFilters.zip](https://github.com/joomlahenk/fabrik/files/10117565/ListFilters.zip)

[2022-11-29 21:44] trob commented on #543
Try with [ListFilters.zip](https://github.com/joomlahenk/fabrik/files/10117565/ListFilters.zip)

[2022-11-29 21:45] trob commented on #544
Try with [ListFilters.zip](https://github.com/joomlahenk/fabrik/files/10117565/ListFilters.zip)

[2022-11-30 07:07] dimoss commented on #543
Hi Troester
I can see the fa-refresh icon now. However it seems that there were some changes in the css styling
![image](https://user-images.githubusercontent.com/10183465/204730307-7e3b825c-5d8b-441d-82db-2b2df589b13e.png)

[2022-11-30 08:14] trob commented on #543
Yes. 1 column list filter is now also Bootstrap5 and got accessibility labels.
But I concentrated to much on the multi column filter. I'll change the 1-column filter label to col-sm-2 analogue to labels in form view in components\com_fabrik\layouts\list\fabrik-filters-bootstrap.php around line 50
[code]

[2022-11-30 09:07] juuser99 commented on #563
Thanks @trob. Working as expected now (both ajaxified and non-ajaxyfied lists).

[2022-11-30 09:19] #563 closed

[2022-11-30 10:24] wezetel commented on #544
Thanks for the !important tip
The multi column filters work well.
What I need to check is, how I can apply the same width to all dropdowns, because currently the width seems to be dependent on the width of the values in the list and so resulting in different sizes
The element settings -> list settings -> filter don't do it. Length and filter class fields have no influence on the display.

[2022-11-30 10:39] trob commented on #544
element settings -> list view settings -> filter settings ->Filter class

[2022-11-30 10:39] #544 closed

[2022-11-30 10:54] trob opened #572 "Backend Help links need https://"
Backend Fabrik Help links: In Chrome the popup only shows an error
[code]

[2022-11-30 10:54] wezetel commented on #544
As mentioned: filter class doesn't do it, but I will find a way....

[2022-11-30 11:37] trob commented on #572
Fixed

[2022-11-30 11:37] #572 closed, assigned to nobody

[2022-11-30 11:47] trob commented on #544
Let me check.

[2022-11-30 13:26] dimoss commented on #543
Thanks @trob

[2022-11-30 13:56] #543 closed

[2022-11-30 14:14] wezetel commented on #544
The fix solves the different widths of the dropdown (at least on wider displays..)
The filter class doesn't have an influence, but for me this is ok and not worth looking deeper.
Thank you!

[2022-11-30 14:36] lorenzo51 opened #573 "Global placeholders (e.g. {shortlang} or {year} ) not replaced"
I currently have F3/J3 sites that use {shortlang} in Lists Pre-filter.
This seems not to be replaced in F4/J4 whereas other placeholders, like {$my->username}, are correctly replaced.

[2022-11-30 15:17] skurvish opened #574 "Class BaseController not found"
Not sure how this didn't show up before, but the BaseController  class is root escaped so isn't found. Easy fix.

[2022-11-30 17:02] davidspring opened #575 "Not able to install package beta2c"
**Before reporting an issue please check that it has not already been fixed by reviewing the changelog in the Wiki or other open issues that may be pending confirmation. Thank you.**

**To Reproduce**
On a website recently updated from Joomla 3.10 to Joomla 4.2.5, I uninstalled the Fabrik beta2c package with the goal of reinstalling it. However, the uninstall ended with this error:
An error has oc

[2022-11-30 17:07] trob commented on #575
Note If installing this release on a J! system that has not had Fabrik installed before, please create a file on your system /administrator/components/com_fabrik/sql/updates/mysql/3.10.sql which can be an empty file. This will be fixed in the next release.

https://github.com/joomlahenk/fabrik/wiki/Tester-Instructions

[2022-11-30 17:17] davidspring commented on #575
Thanks. That solved the problem

[2022-11-30 17:18] davidspring commented on #575
But why did it not work on my website that had Fabrik installed before?

[2022-11-30 17:19] davidspring commented on #575
I was not able to install beta2c on either site and even the site that had Fabrik on it before I had to add the empty sql file.

[2022-11-30 17:21] davidspring commented on #575
Perhaps it was because I deleted Fabrik rather than installing beta2c over an existing Fabrik package.

[2022-11-30 17:22] davidspring commented on #575
In any case, the problem is solved by the empty sql file so this issue can be closed.

[2022-11-30 17:27] davidspring commented on #575
another option is to install beta2b and then install beta2c over the top of it. I just tested this and it also works without error.

[2022-11-30 17:29] trob commented on #575
Yup. Beta2c is searching for .sql files  and throws this error if there's none which is the case if your never had Fabrik installed or if you deinstalled an existing one.
Will be fixed in the next release.

[2022-11-30 17:29] #575 closed

[2022-11-30 17:36] trob commented on #573
It's not only in Pre-filters but also e.g. in element default.

[2022-11-30 18:51] trob commented on #573
Try
[GlobalReplace.zip](https://github.com/joomlahenk/fabrik/files/10126332/GlobalReplace.zip)

[2022-11-30 18:57] dimoss opened #576 "Finish Publishing date/time is not removed after clear/save"
**Before reporting an issue please check that it has not already been fixed by reviewing the changelog in the Wiki or other open issues that may be pending confirmation. Thank you.**

**To Reproduce**
1. Clear the finish publishing date/time through calendar icon or directly on the field.
2. Save list / form.
3. Date stays as is.

**Expected behavior**
After removing the date/time and save the lis

[2022-11-30 19:37] wezetel commented on #544
You're a hero! Nothing to complain. It works as expected.